/* ===== Global Styling ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: black;
  color: #333;
  scroll-behavior: smooth;
}

section {
  padding: 80px 12%;
}

/* ===== Navbar ===== */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  padding: 16px 12%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

nav h2 {
  font-weight: 700;
  color:#3A6F43;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color:black;
}

nav ul li a:hover {
  color:  #3A6F43;
}

/* ===== Hero Section ===== */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.hero h1 {
  font-size: 45px;
  font-weight: 700;
  color: #3A6F43;
}

.hero span {
  color: white;
}

.hero p {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.hero-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background:  #3A6F43;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  width: fit-content;
}

.hero-btn:hover {
  background: white;
  color: #3A6F43;
}

/* ===== About Section ===== */
.about p {
  max-width: 700px;
  line-height: 1.6;
  font-size: 18px;
  color: white;
}

/* ===== Skills ===== */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.skill-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  text-align: center;
  font-weight: 500;
}

/* ===== Projects ===== */
.project-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.07);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card a {
  color: #0077ff;
  text-decoration: none;
}

/* ===== Contact ===== */
.contact-box {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}
.fade-in {
  animation: fadeIn 0.8s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
  from {
    opacity: 0;
    transform: translateY(20px);
  }
}
